@model TinyCrm.Core.Model.Options.CreateCustomerOptions

<form class="js-create-customer" method="post"
      action="@Url.Action("create", "customer")">

  <div class="form-group">
    <label for="@Html.IdFor(c => c.VatNumber)">Vat Number</label>
    @Html.TextBoxFor(c => c.VatNumber,
        new { @class = "form-control js-vatnumber", placeholder="enter your vat number" })
    <small id="emailHelp" class="form-text text-muted">
        Vat number should be 9 digits
    </small>
  </div>

  <div class="form-group">
    <label for="@Html.IdFor(c => c.Email)">Email</label>
      @Html.TextBoxFor(c => c.Email,
        new { @class = "form-control js-email" })
  </div>

    <div class="js-contactpersons">
        <input type="text" class="js-contact-firstname form-control" placeholder="firstname"/>
        <input type="text" class="js-contact-email form-control" placeholder="email"/>
        <button type="button" class="js-add-contact btn btn-primary btn-sma">Add new</button>
    </div>


  <button type="button" class="btn btn-primary js-submit-customer">Submit</button>
</form>
<div class="alert alert-danger js-create-customer-alert" role="alert"
     style="display: none">
</div>

<div class="alert alert-success js-create-customer-success" role="alert"
     style="display: none">
</div>
